---
layout: bare
languages:
- en
- de
---
<section class="bg-primary" id="portfolio">
    <h2 class="text-center text-light section-heading">{% t 'portfolio.claim' %}</h2>
    <hr class="light">
    <div class="container">
        <p class="text-center text-light">{% t 'portfolio.description' %}</p>
        <div class="row">
            <div class="col-lg-3 d-flex flex-column align-items-start justify-content-center">
                <img class="img-fluid py-3" style="max-width: 12rem; margin-left: auto;margin-right: auto;"
                    src="{{ site.baseurl }}/img/bulb.png" alt="{% t 'portfolio.claim' %}"></img>
            </div>
            <div class="col-lg-9 d-flex flex-column justify-content-center align-items-start px-3">
                <div class="d-flex flex-row">
                    <i class="fas fa-3x fa-rocket bounceIn wow text-light pt-2" data-wow-delay=".1s"></i>
                    <div class="d-flex flex-column justify-content-center align-items-start pl-3">
                        <h5 class="text-light">{% t 'portfolio.software' %}</h5>
                        <p class="text-light">{% t 'portfolio.software_description' %}</p>
                    </div>
                </div>
                <div class="d-flex flex-row">
                    <i class="fas fa-3x fa-truck bounceIn wow text-light pt-2" style="font-size: 2.4em;"
                        data-wow-delay=".2s"></i>
                    <div class="d-flex flex-column justify-content-center align-items-start pl-3">
                        <h5 class="text-light">{% t 'portfolio.logistics' %}</h5>
                        <p class="text-light">{% t 'portfolio.logistics_description' %}</p>
                    </div>
                </div>
                <div class="d-flex flex-row">
                    <i class="fa fa-3x fa-wrench bounceIn wow text-light pt-2" data-wow-delay=".3s"></i>
                    <div class="d-flex flex-column justify-content-center align-items-start pl-3">
                        <h5 class="text-light">{% t 'portfolio.setup' %}</h5>
                        <p class="text-light">{% t 'portfolio.setup_description' %}</p>
                    </div>
                </div>
                <div class="d-flex flex-row">
                    <i class="fa fa-3x fa-thumbs-up bounceIn wow text-light pt-2" data-wow-delay=".4s"></i>
                    <div class="d-flex flex-column justify-content-center align-items-start pl-3">
                        <h5 class="text-light">{% t 'portfolio.support' %}</h5>
                        <p class="text-light">{% t 'portfolio.support_description' %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-light" id="products">
    <div class="container text-center">
        <h2>{% t 'portfolio.product.plural' %}</h2>
        <hr class="dark" />
    </div>
    <div class="container">
        <div class="row justify-content-around">
            <!-- Generate cards for all products -->
            {% for product in site.products %}
            {% if product.language == page.language %}
            {% capture url %} {{ site.baseurl }}{{ product.url }} {% endcapture %}
            {% capture image %} {{ site.baseurl }}/{{ product.image }} {% endcapture %}
            <!-- finally create the product card -->
            {% include card-product.html url=url image=image name=product.name short_description=product.short_description %}
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

<section class="bg-dark" id="projects">
    <div class="container text-center">
        <h2>{% t 'portfolio.project.plural' %}</h2>
        <hr class="light" />
    </div>
    <div class="container">
        <div class="row justify-content-around">
            <!-- Generate cards for all projects-->
            {% for project in site.projects %}
            {% if project.language == page.language %}
            {% capture url %} {{ site.baseurl }}{{ project.url }} {% endcapture %}
            {% capture image %} {{ site.baseurl }}/{{ project.image }} {% endcapture %}
            <!-- finally create the project card -->
            {% include card-project.html url=url image=image name=project.name short_description=project.short_description year=project.year domains=project.domains %}
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

{% include contact.html %}