---
layout: bare
language: de
subset: root
permalink: /
navigation: false
---
<section id="language-selection"
    class="text-center bg-primary d-flex flex-column align-items-center justify-content-center">
    <img src=" {{ site.baseurl }}/img/logo/iolite-logo-white.png" class="img-fluid w-50 pb-5" style="max-width: 200px;"
        alt="">
    <h3 class="text-light">{% t 'title' %}</h3>
    <p class="text-light">{% t 'description' %}</p>
    <ul class="list-unstyled">
        {% for language in site.languages %}
        <li>
            <p>
                <a class="btn btn-on-primary bold  btn-xl wow bounceIn" href="{{ language }}/"
                    title="{% tl language %}">{% tl language %}</a>
            </p>
        </li>
        {% endfor %}
    </ul>
</section>
<script id="site-languages-json" type="application/json">
{% raw %}{{% endraw %}
{% for language in site.languages %}
  "{{ language }}": "{{ language }}/"
  {% if forloop.last != true %},{% endif %}
{% endfor %}
{% raw %}}{% endraw %}
</script>