<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>{% t 'aside.description' %}</h2>
            <a href="#" class="btn shadow bold btn-default btn-xl wow tada">{% t 'aside.more' %}</a>
        </div>
    </div>
</aside>
