<div class="col-xl-3 col-lg-4 col-sm-6 my-4 ">
    <div class="card bg-light border-0 wow fadeInUp"
        style="max-width: 18rem; height: 24rem; margin-left: auto;margin-right: auto;">
        <img class="card-img-top" src="{{ site.baseurl }}/img/portfolio/products/{{ include.name }}/main.jpg"
            alt="{{ include.name }}"></img>
        <a href="{{ include.url }}" class="card-img-overlay h-50">
            <h4>
                <span class="badge bg-secondary text-light">{% t 'portfolio.product.singular' %}</span>
            </h4>
        </a>
        <div class="card-body">
            <h5 class="card-title">{{ include.name }}</h5>
            <p class="card-text">{{ include.short_description }}</p>
        </div>
        <a href="{{ include.url }}"
            class="card-footer bg-secondary text-light text-center border-0">{% t 'site.more' %}</a>
    </div>
</div>