<section class="bg-primary" id="about">
    <div class="container text-center">
        <h2 class="text-light section-heading">{% t 'claim.header' %}</h2>
        <hr class="light">
        <p class="text-light">{% t 'claim.vision' %}</p>
        <a href="https://www.youtube.com/watch?v=08U63R32vYY" class="btn shadow bold btn-on-primary btn-xl wow bounceIn">{% t 'claim.see' %}</a>
    </div>
</section>