<section id="contact">
    <div class="container text-center">
        <h2 class="section-heading">{% t 'contact.headline' %}</h2>
        <hr class="primary">
        <p>{% t 'contact.description' %}</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm text-center">
                <a href="mailto:{{ site.data.company.email }}"> <i class="far fa-envelope fa-3x text-dark wow bounceIn"
                        data-wow-delay=".1s"></i>
                    <p>{{ site.data.company.email }}</p>
                </a>
            </div>
            <div class="col-sm text-center">
                <span> <i class="fas fa-phone fa-3x text-dark wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.data.company.phone }}</p>
                </span>
            </div>
            <div class="col-sm text-center">
                <a href="https://twitter.com/{{ site.twitter_username }}"> <i
                        class="fab fa-twitter fa-3x text-dark wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.twitter_username }}</p>
                </a>
            </div>
        </div>
    </div>
</section>