<footer class="bg-dark" id="footer">
    <div class="container mt-4">
        <div class="row">
            <div class="col-xl-3 col-lg-2 col-md-4 col-sm-6 col-xs-6">
                <ul class="list-unstyled">
                    <li class="bold">{{ site.data.company.name }}</li>
                    <li>{% t 'claim.header' %}</li>
                </ul>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-6">
                <ul class="list-unstyled">
                    <li class="bold">{% t 'footer.contact' %}</li>
                    <li><a href="mailto:{{ site.data.company.email }}" class="thin">
                            <i class="fas fa-envelope"></i> {{ site.data.company.email }}</span>
                        </a>
                    </li>
                    <li>
                        <span><i class="fas fa-phone"></i> {{ site.data.company.phone }}</span>
                    </li>
                    <li>
                        <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank" class="thin">
                            <i class="fab fa-twitter" data-wow-delay=".1s"></i> {{ site.twitter_username }}</a>
                    </li>
                </ul>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <ul class="list-unstyled">
                    <li class="bold">{% t 'footer.address' %}</li>
                    <li>{{ site.data.company.name }}</li>
                    <li>{{ site.data.company.street }}</li>
                    <li>{{ site.data.company.postal-code }} {{ site.data.company.city }}</li>
                </ul>
            </div>
            <div class="col-xl-4 col-lg-4 col-sm-6 col-md-6 col-xs-12 mx-auto">
                <img src="{{ site.baseurl }}/img/company/map.png" class="img-fluid" alt="" />
            </div>
        </div>
    </div>
    <div class="container pt-4">
        <div class="row">
            <div class="col-sm text-center">
                <a href="{{ site.baseurl }}/{{ page.language }}/impressum.html">{% t 'footer.legal' %}</a>
            </div>
            <div class="col-sm text-center">
                <a href="{{ site.baseurl }}/{{ page.language }}/privacy.html">{% t 'footer.privacy' %}</a>
            </div>
        </div>
    </div>

    <!-- div class="container text-center">
    <img src="{{ site.baseurl }}/img/logo/iolite-gem.svg" style="width: 16px;" alt="{{ site.data.company.name }}" />
    </div -->
    <hr class="light thin" />
    <div class="container">
        <p class="text-center">{% t 'footer.footnote' %}</p>
    </div>
</footer>