<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% t 'site.description' %}">
    <meta name="author" content="{{site.data.company.name}}">
    <meta name="theme-color" content="#62338A" />

    <title>{% t 'site.title' %}</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css" type="text/css">
    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/animate.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href="{{ site.baseurl }}/font-awesome/css/fontawesome.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/font-awesome/css/brands.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/font-awesome/css/solid.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/font-awesome/css/regular.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/material.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css" type="text/css">

    <link rel="shortcut icon" href="{{ site.baseurl }}/img/icon/favicon.ico" type="image/x-icon">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/img/icon/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/img/icon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/img/icon/favicon-96x96.png" sizes="96x96">

    <!-- web manifest for android devices -->
    <link rel="manifest" href="{{ site.baseurl }}/manifest.json">

    <!-- icons for apple devices -->
    <link rel="apple-touch-icon" href="{{ site.baseurl }}/img/icon/apple-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ site.baseurl }}/img/icon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ site.baseurl }}/img/icon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ site.baseurl }}/img/icon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ site.baseurl }}/img/icon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ site.baseurl }}/img/icon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ site.baseurl }}/img/icon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ site.baseurl }}/img/icon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ site.baseurl }}/img/icon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/img/icon/apple-icon-180x180.png">
    <meta name="apple-mobile-web-app-title" content="{% t 'site.title' %}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>