<header>
    <div class="header-content ">
        <div class="header-content-inner ">
            <h1>{% t 'site.subtitle' %}</h1>
            <hr class="light">
            <h5>{% t 'site.description' %}</h5>
            <br />
            <a href="#about" class="btn btn-primary shadow bold btn-xl page-scroll wow bounceIn">{% t 'site.more' %}</a>
        </div>
    </div>
</header>