<nav id="mainNav" class="nav navbar fixed-top navbar-expand-sm navbar-default navbar-primary">
    <a class="nav btn navbar-brand page-scroll mx-0 pl-2" href="#page-top"><img
            src="{{ site.baseurl }}/img/logo/iolite-logo-white.png" class="w-100 align-text-top"
            style="max-width: 100px;" alt=""></a>
    <button class="navbar-toggler btn" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <!-- use font-awesome burger as nav menu icon -->
        <span class="navbar-toggler-icon h-100 align-middle fas fa-bars" style="font-size: 28px;"> </span>
    </button>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse text-right" id="navbarSupportedContent">
        <ul class="navbar-nav navbar-right ml-auto">
            <li><a class="nav-link btn navbar-brand page-scroll align-middle" href="#about">{% t 'nav.claim' %}</a></li>
            <li><a class="nav-link btn navbar-brand page-scroll align-middle"
                    href="#services">{% t 'nav.services' %}</a></li>
            <li><a class="nav-link btn navbar-brand page-scroll align-middle"
                    href="#portfolio">{% t 'nav.portfolio' %}</a></li>
            <li><a class="nav-link btn navbar-brand page-scroll align-middle" href="#contact">{% t 'nav.contact' %}</a>
            </li>
        </ul>
    </div>
</nav>