<div class="row justify-content-center">
    {% for partner in include.partners %}
    <div class="col-xl-3 col-lg-4 col-sm-6 col-xs-12 d-flex flex-row  align-items-center justify-content-center my-4">
        <a href="{{site.data.partners[partner].web}}" target="_blank">
            <img class="img-fluid" style="max-height: 100px;" src="{{ site.baseurl }}/img/partners/{{ partner}}.png"
                alt="{{site.data.partners[partner].name}}"></img>
        </a>
    </div>
    {% endfor %}
</div>