<section class="bg-dark" id="portfolio">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>{% t 'aside.description' %}</h2>
            <hr class="light" />
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-around">
            <!-- Generate cards for all frontpage products -->
            {% for product in site.products %}
            {% if product.language == page.language and product.frontpage %}
            {% capture url %} {{ site.baseurl }}{{ product.url }} {% endcapture %}
            {% capture image %} {{ site.baseurl }}/{{ product.image }} {% endcapture %}
            <!-- finally create the product card -->
            {% include card-product.html url=url image=image name=product.name short_description=product.short_description %}
            {% endif %}
            {% endfor %}
            <!-- Generate cards for all frontpage projects-->
            {% for project in site.projects %}
            {% if project.language == page.language and project.frontpage %}
            {% capture url %} {{ site.baseurl }}{{ project.url }} {% endcapture %}
            {% capture image %} {{ site.baseurl }}/{{ project.image }} {% endcapture %}
            <!-- finally create the project card -->
            {% include card-project.html url=url image=image name=project.name short_description=project.short_description year=project.year domains=project.domains%}
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="container text-center pt-5">
        <div class="call-to-action">
            <a href="portfolio.html" class="btn shadow bold btn-default btn-xl wow fadeInUp">{% t 'aside.more' %}</a>
        </div>
    </div>
</section>