<div class="bg-secondary py-3 text-light" id="summary">
    <div class="container">
        <div class="row ">
            <div class="col-lg d-flex flex-column justify-content-center align-items-start px-3">
                <!-- List features -->
                {% if include.features %}
                <h5>{% t 'portfolio.product.features' %}:</h5>
                <ul class="container row list-unstyled">
                    {% for feature in include.features %}
                    <li class="col-xs p-2">{{feature}}</li>
                    {% endfor %}
                </ul>
                {% endif %}

                <!-- List supported technologies -->
                {% if include.technologies %}
                <h5>{% t 'portfolio.product.technologies' %}:</h5>
                <ul class="container row list-unstyled">
                    {% for technology in include.technologies %}
                    <li class="col-xs p-2">{{technology}}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>