<div class="bg-primary py-3 text-light" id="summary">
    <div class="container">
        <div class="row ">
            <div class="col-lg-6 d-flex flex-column justify-content-center align-items-start px-3">
                <h5>{% t 'portfolio.project.summary' %}</h5>
                <p class="p-2">{{include.city}}, {{include.year}}</p>

                <!-- Link to products used in the project -->
                {% if include.products %}
                <!-- Links to products -->
                <h5>{% t 'portfolio.project.products' %}</h5>
                <ul class="container row list-unstyled">
                    {% for project_product in include.products %}

                    <!-- find product page in current language -->
                    {% for product in site.products %}
                    {% if product.name == project_product and product.language == page.language %}
                    <li class="col-xs p-2">
                        <a class="text-light" href="{{ site.baseurl }}{{ product.url }}"> {{product.name}} </a>
                    </li>
                    {% break %}
                    {% endif %}
                    {% endfor %}

                    {% endfor %}
                </ul>
                {% endif %}

                <!-- List used technologies -->
                {% if include.technologies %}
                <!-- Links to products -->
                <h5>{% t 'portfolio.project.technologies' %}</h5>
                <ul class="container row list-unstyled">
                    {% for technology in include.technologies %}
                    <li class="col-xs p-2">{{technology}}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="col-lg-6 col-md-4 d-flex flex-column align-items-start justify-content-center">
                {% if include.map %}
                {% assign map = include.map %}
                {% else %}
                {% assign map = include.city %}
                {% endif %}
                <img class="img-fluid py-3" style="max-width: 16rem; margin-left: auto;margin-right: auto;"
                    src="{{ site.baseurl }}/img/maps/{{map}}.png" alt="{{include.city}}"></img>
            </div>
        </div>
    </div>
</div>