{% if include.bg-secondary %}
{% assign bg-class = "navbar-secondary" %}
{% else %}
{% assign bg-class = "navbar-primary" %}
{% endif %}
<nav id="mainNav" class="nav navbar fixed-top navbar-expand-sm navbar-default {{ bg-class }}">
    <a class=" nav btn navbar-brand page-scroll mx-0 pl-2" href="{{ site.baseurl }}/{{ page.language }}"><img
            src="{{ site.baseurl }}/img/logo/iolite-logo-white.png" class="w-100 align-text-top"
            style="max-width: 100px;" alt="" /></a>
</nav>