<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{% t 'usp.title' %}</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="{{ site.data.usps.universal.icon }} fa-4x wow bounceIn text-primary py-2"
                        data-wow-delay=".1s"></i>
                    <h3>{% t 'usp.universal.title' %}</h3>
                    <p>{% t 'usp.universal.description' %}</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="{{ site.data.usps.smart.icon }} fa-4x wow bounceIn text-primary py-2"
                        data-wow-delay=".1s"></i>
                    <h3>{% t 'usp.smart.title' %}</h3>
                    <p>{% t 'usp.smart.description' %}</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 text-center">
                <div class="service-box">
                    <i class="{{ site.data.usps.security.icon }} fa-4x wow bounceIn text-primary py-2"
                        data-wow-delay=".2s"></i>
                    <h3>{% t 'usp.security.title' %}</h3>
                    <p>{% t 'usp.security.description' %}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md text-center">
                <div class="service-box">
                    <i class="{{ site.data.usps.interoperability.icon }} fa-4x wow bounceIn text-primary py-2"
                        data-wow-delay=".3s"></i>
                    <h3>{% t 'usp.interoperability.title' %}</h3>
                    <p>{% t 'usp.interoperability.description' %}</p>
                </div>
            </div>
            <div class="col-md text-center">
                <div class="service-box">
                    <i class="{{ site.data.usps.scalability.icon }} fa-4x wow bounceIn text-primary py-2"
                        data-wow-delay=".4s"></i>
                    <h3>{% t 'usp.scalability.title' %}</h3>
                    <p>{% t 'usp.scalability.description' %}</p>
                </div>
            </div>
        </div>
    </div>
</section>