/* Roboto */
@font-face {
  font-family: "Roboto Light";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"),
    url($baseurl+"/fonts/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto Light";
  font-style: italic;
  font-weight: 300;
  src: local("Roboto Light Italic"), local("Roboto-LightItalic"),
    url($baseurl+"/fonts/Roboto-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto Thin";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Thin"), local("Roboto-Thin"),
    url($baseurl+"/fonts/Roboto-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto Thin";
  font-style: italic;
  font-weight: 300;
  src: local("Roboto Thin Italic"), local("Roboto-Thin"),
    url($baseurl+"/fonts/Roboto-ThinItalic.ttf") format("truetype");
}
/* Normal */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Regular"), local("Roboto-Regular"),
    url($baseurl+"/fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: local("Roboto Italic"), local("Roboto-Italic"),
    url($baseurl+"/fonts/Roboto-Italic.ttf") format("truetype");
}
/* Bold */
@font-face {
  font-family: "Roboto Bold";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"),
    url($baseurl+"/fonts/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto Bold";
  font-style: italic;
  font-weight: 700;
  src: local("Roboto Bold Italic"), local("Roboto-BoldItalic"),
    url($baseurl+"/fonts/Roboto-BoldItalic.ttf") format("truetype");
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
}
section {
  flex: 1 0 auto;
}
footer {
  flex-shrink: 0;
}

hr {
  border-color: $theme-primary;
  border-width: 3px;
  max-width: 50px;
  &.thin {
    border-width: 1px;
  }
  &.light {
    border-color: $theme-light;
  }
  &.dark {
    border-color: $theme-dark;
  }
}

button {
  -webkit-tap-highlight-color: transparent;
  outline-style: none;
  outline: none;
  box-shadow: none;
  border: none;
  &:focus {
    -webkit-tap-highlight-color: transparent;
    outline-style: none;
    outline: none;
    box-shadow: none;
    border: none;
  }
}

a {
  @include transition-all;
  -webkit-tap-highlight-color: transparent;
  font-family: Roboto;
  color: $theme-primary;
  &.thin {
    text-decoration: none;
    font-family: Roboto Thin;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Roboto;
}

p,
li {
  font-size: 18px;
  line-height: 1.5;
  font-family: Roboto Thin;
  &.bold {
    font-family: Roboto Bold;
  }
}
strong {
  font-family: Roboto;
}

.bg-primary {
  background-color: $theme-primary !important;
}

.bg-secondary {
  background-color: $theme-secondary !important;
}

.bg-dark {
  background-color: $theme-dark;
  color: $theme-light;
  a {
    color: $theme-light;
  }
  .btn {
    color: $theme-dark;
  }
}
.bg-light {
  background-color: $theme-light;
  color: $theme-dark;
  a {
    color: $theme-dark;
  }
  .btn {
    color: $theme-light;
  }
}

.text-faded {
  color: rgba(white, 0.7);
}

section {
  padding: 100px 0;
}

footer {
  padding: 8px;
}

aside {
  padding: 50px 0;
}

.no-padding {
  padding: 0;
}

// Navigation
.navbar-default {
  // navbar is transparent by default. Background is set in 'scrolled' class
  background-color: transparent;
  border-color: rgba($theme-dark, 0.5);
  @include sans-serif-font;
  a,
  span {
    // text needs to be white to be visible on the IOLITE vision image
    color: white;
  }
  @include transition-all;
  .navbar-header .navbar-brand {
    color: $theme-primary;
    @include sans-serif-font;
    font-weight: 700;
    text-transform: uppercase;
    &:hover,
    &:focus {
      color: darken($theme-primary, 10%);
    }
  }
  @media (min-width: 768px) {
    border-color: rgba(white, 0.3);
    .navbar-header .navbar-brand {
      color: white;
      &:hover,
      &:focus {
        color: white;
      }
    }
    .nav > li > a,
    .nav > li > a:focus {
      color: rgba(white, 0.7);
      &:hover {
        color: white;
      }
    }
  }
}

// change the background to primary when scrolled down (see creative.js for the function)
.navbar-primary.scrolled {
  background-color: $theme-primary;
  a,
  span {
    color: white;
  }
  // make a smooth transition
  transition: 600ms ease;
}
// change the background to secondary when scrolled down (see creative.js for the function)
.navbar-secondary.scrolled {
  background-color: $theme-secondary;
  a,
  span {
    color: white;
  }
  // make a smooth transition
  transition: 600ms ease;
}

// Homepage Header

header {
  position: relative;
  width: 100%;
  min-height: auto;
  @include background-cover;
  background-position: center;
  background-image: url("../img/header.jpg");
  text-align: center;
  color: white;
  .header-content {
    position: relative;
    text-align: center;
    padding: 100px 15px 100px;
    width: 100%;
    .header-content-inner {
      h1 {
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 0;
      }
      hr {
        margin: 30px auto;
      }
      p {
        font-weight: 300;
        color: white;
        font-size: 18px;
        margin-bottom: 50px;
      }
    }
  }
  @media (min-width: 768px) {
    min-height: 100%;
    .header-content {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      padding: 0 50px;
      .header-content-inner {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        p {
          font-size: 18px;
          max-width: 80%;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
}

// Sections

.section-heading {
  margin-top: 0;
}

.service-box {
  max-width: 400px;
  margin: 50px auto 0;
  @media (min-width: 992px) {
    margin: 20px auto 0;
  }
  p {
    margin-bottom: 0;
  }
}

.call-to-action {
  h2 {
    margin: 0 auto 20px;
  }
}

// Bootstrap Overrides
.text-primary {
  color: $theme-primary !important;
}

.no-gutter > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

// Button Styles
.btn-default {
  @include button-variant($theme-dark, $theme-light, $theme-light);
}

.btn-primary {
  @include button-variant($theme-light, $theme-primary, $theme-primary);
}

.btn-on-primary {
  @include button-variant($theme-primary, $theme-light, $theme-light);
}

.btn-secondary {
  @include button-variant($theme-light, $theme-secondary, $theme-secondary);
}

.btn-dark {
  @include button-variant($theme-light, $theme-dark, $theme-dark);
}

.nav-link.active {
  text-decoration: underline;
}

.btn {
  font-family: Roboto;
  border: none;
  border-radius: 300px;
  text-transform: uppercase;
  outline-style: none;
  outline: none;
  box-shadow: none;
  // disable webkit button outline
  -webkit-tap-highlight-color: transparent;
  &:focus {
    // disable all outlines when focused
    -webkit-tap-highlight-color: transparent;
    outline-style: none;
    outline: none;
    box-shadow: none;
    border: none;
    box-shadow: none;
  }
  &:hover {
    text-decoration: underline;
  }
  &.shadow {
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
  }
  &.bold {
    font-family: Roboto Bold;
  }
}

.btn-xl {
  padding: 15px 30px;
}

// Contact
#contact .fa {
  color: $theme-dark;
  font-size: 4em;
}

// Extras
// -- Highlight Color Customization
::-moz-selection {
  color: white;
  text-shadow: none;
  background: $theme-dark;
}

::selection {
  color: white;
  text-shadow: none;
  background: $theme-dark;
}

img::selection {
  color: white;
  background: transparent;
}

img::-moz-selection {
  color: white;
  background: transparent;
}

body {
  -webkit-tap-highlight-color: $theme-dark;
}

.card {
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

.card-footer {
  font-family: Roboto Bold;
  font-size: 18px;
}

.badge {
  font-family: Roboto Bold;
  font-weight: 300;
}
