<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top" data-spy="scroll" data-target=".navbar" data-offset="100">
  {% include nav.html %}
  {% include header.html %}
  {% include claim.html %}
  {% include usp.html %}
  {% include portfolio.html %}
  {% include contact.html %}
  {% include footer.html %}
  {% include scripts.html %}
</body>

</html>