---
---

{% include head.html %}

<body class="site-content" id="page-top" role="main">
  {% include subpage-navbar.html bg-secondary=true %}
  <header style="background-image: url('{{ site.baseurl }}/img/portfolio/products/{{ page.name }}/main.jpg');">
    <div class="h-100" style="background-color: rgba(80, 90, 89, 0.8);">
      <div class="header-content">
        <div class="header-content-inner">
          <h2>{% t 'portfolio.product.singular' %}</h2>
          <h1>{{ page.name }}</h1>
          <hr class="light" />
          <h3>{{ page.short_description }}</h3>
          <br />
          <!-- List application domains -->
          {% if page.domains %}
          <ul class="d-flex justify-content-md-center justify-content-sm-start row list-unstyled">
            {% for domain in page.domains %}
            {% assign icon=site.data.domains[domain].icon %}
            {% if icon %}
            <li class="col-xs p-2 d-flex align-items-center ">
              <i class="{{icon}} fa-2x wow bounceIn text-light px-3" data-wow-delay=".1s"></i>
              {% capture language_key %}portfolio.domains.{{domain}}{%endcapture%}
              <span>{% t language_key %}</span>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
          {% endif %}
          <a href="#summary"
            class="btn btn-secondary shadow bold btn-xl page-scroll wow bounceIn">{% t 'site.more' %}</a>
        </div>
      </div>
    </div>
  </header>
  <!-- summary of product data -->
  {% include product-summary.html technologies=page.technologies features=page.features domains=page.domains %}
  <section id="product" class="container">
    {{ content }}

    {% if page.partners %}
    {% include partners.html partners=page.partners %}
    {% endif %}
  </section>

  <section class="bg-dark" id="products">
    <div class="container text-center">
      <h2>{% t 'portfolio.product.other' %}</h2>
      <hr class="light" />
    </div>
    <div class="container">
      <div class="row justify-content-around">
        <!-- find index of this product -->
        {% assign my_index = 0 %}
        {% for product in site.products %}
        {% if product.language == page.language %}

        {% if product.name == page.name %}
        {% assign my_index = forloop.index %}
        {% break %}
        {% endif %}

        {% endif %}
        {% endfor %}

        <!-- generate product cards for the rest of product list -->
        {% assign other = 4 %}
        {% assign upper_index = my_index | plus: 1 %}
        {% for product in site.products offset:upper_index %}
        {% if other == 0 %}
        {% break %}
        {% endif %}
        {% if product.language == page.language %}
        {% assign other = other | minus: 1 %}
        {% capture url %} {{ site.baseurl }}{{ product.url }} {% endcapture %}
        {% capture image %} {{ site.baseurl }}/{{ product.image }} {% endcapture %}
        <!-- create product card -->
        {% include card-product.html url=url image=image name=product.name short_description=product.short_description %}
        {% endif %}
        {% endfor %}

        <!-- generate product cards from 0 to my_index but no more than 4 in sum -->
        {% for product in site.products %}
        {% if product.language == page.language %}
        {% if other == 0 %}
        {% break %}
        {% endif %}
        {% if product.name == page.name %}
        {% break %}
        {% endif %}
        {% assign other = other | minus: 1 %}
        {% capture url %} {{ site.baseurl }}{{ product.url }} {% endcapture %}
        {% capture image %} {{ site.baseurl }}/{{ product.image }} {% endcapture %}
        <!-- create product card -->
        {% include card-product.html url=url image=image name=product.name short_description=product.short_description %}
        {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="container text-center pt-5">
      <div class="call-to-action">
        <a href="{{ site.baseurl }}/{{ page.language }}/portfolio.html"
          class="btn shadow bold btn-default btn-xl wow fadeInUp">{% t 'aside.more' %}</a>
      </div>
    </div>
  </section>

  {% include contact.html %}
  {% include footer.html %} {% include scripts.html %}
</body>