---
---

{% include head.html %}

<body id="page-top" role="main" data-spy="scroll" data-target=".navbar" data-offset="100">
  {% include subpage-navbar.html %}
  <header style="background-image: url('{{ site.baseurl }}/img/portfolio/projects/{{ page.name }}/main.jpg');">
    <div class="h-100" style="background-color: rgba(80, 90, 89, 0.8);">
      <div class="header-content">
        <div class="header-content-inner">
          <h2>{% t 'portfolio.project.singular' %}</h2>
          <h1>{{ page.name }}</h1>
          <hr class="light" />
          <h2>{{ page.short_description }}</h2>
          <h3>{{ page.city }}, {{ page.year }}</h3>
          <br />
          <!-- List application domains -->
          {% if page.domains %}
          <ul class="d-flex justify-content-center row list-unstyled">
            {% for domain in page.domains %}
            {% assign icon=site.data.domains[domain].icon %}
            {% if icon %}
            <li class="col-xs p-2 d-flex align-items-center">
              <i class="{{icon}} fa-2x wow bounceIn text-light px-3" data-wow-delay=".1s"></i>
              {% capture language_key %}portfolio.domains.{{domain}}{%endcapture%}
              <span>{% t language_key %}</span>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
          {% endif %}
          <a href="#summary" class="btn btn-primary shadow bold btn-xl page-scroll wow bounceIn">{% t 'site.more' %}</a>
        </div>
      </div>
    </div>
  </header>
  <!-- summary of project data -->
  {% include project-summary.html products=page.products city=page.city year=page.year technologies=page.technologies map=page.map%}

  <!-- main project post data -->
  <section id="project" class="container">
    {{ content }}
  </section>

  {% if page.partners %}
  <div id="partners" class="container text-center">
    <!-- find index of this project -->
    <h2>{% t 'partners.project.title' %}</h2>
    <hr class="dark" />

    {% include partners.html partners=page.partners %}
  </div>
  {% endif %}

  <section class="bg-dark" id="projects">
    <div class="container text-center">
      <h2>{% t 'portfolio.project.other' %}</h2>
      <hr class="light" />
    </div>
    <div class="container">
      <div class="row justify-content-around">
        <!-- find index of this project -->
        {% assign my_index = 0 %}
        {% for project in site.projects %}
        {% if project.language == page.language %}

        {% if project.name == page.name %}
        {% assign my_index = forloop.index %}
        {% break %}
        {% endif %}

        {% endif %}
        {% endfor %}

        <!-- generate project cards for the rest of projects list -->
        {% assign other = 4 %}
        {% assign upper_index = my_index | plus: 1 %}
        {% for project in site.projects offset:upper_index %}
        {% if other == 0 %}
        {% break %}
        {% endif %}
        {% if project.language == page.language %}
        {% assign other = other | minus: 1 %}
        {% capture url %} {{ site.baseurl }}{{ project.url }} {% endcapture %}
        {% capture image %} {{ site.baseurl }}/{{ project.image }} {% endcapture %}
        <!-- create project card -->
        {% include card-project.html url=url image=image name=project.name short_description=project.short_description year=project.year domains=project.domains %}
        {% endif %}
        {% endfor %}

        <!-- generate project cards from 0 to my_index but no more than 4 in sum -->
        {% for project in site.projects %}
        {% if project.language == page.language %}
        {% if other == 0 %}
        {% break %}
        {% endif %}
        {% if project.name == page.name %}
        {% break %}
        {% endif %}
        {% assign other = other | minus: 1 %}
        {% capture url %} {{ site.baseurl }}{{ project.url }} {% endcapture %}
        {% capture image %} {{ site.baseurl }}/{{ project.image }} {% endcapture %}
        <!-- create project card -->
        {% include card-project.html url=url image=image name=project.name short_description=project.short_description year=project.year domains=project.domains %}
        {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="container text-center pt-5">
      <div class="call-to-action">
        <a href="{{ site.baseurl }}/{{ page.language }}/portfolio.html"
          class="btn shadow bold btn-default btn-xl wow fadeInUp">{% t 'aside.more' %}</a>
      </div>
    </div>
  </section>

  {% include contact.html %}
  {% include footer.html %} {% include scripts.html %}
</body>