---
layout: skeleton
---

{% include head.html %}

<body class="site-content" role="main">
  {% include subpage-navbar.html %}
  <section id="text" class="container">
    {{ content }}
  </section>
  {% include footer.html %} {% include scripts.html %}
</body>
